<% provide(:title, "Home") %>

<div class="jumbotron">
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info'%>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>      
      <section class="micropost_form">
        <%= render 'shared/micropost_form'%>
      </section>
    </aside>
    <div class="col-md-8">
    <% if @feed_items.any? %>
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    <% else %>
      <h2><%= link_to "Follow users", users_path%> to see a feed of their posts</h2>
    <% end %>  
    </div>  
  </div>
<% else %>
  <h1>Welcome to the Sample App</h1>
  <div>
    <span>This is a demonstration of web development using the 
      <a href="http://rubyonrails.org/">Ruby on Rails</a> framework.</span>
    <span>This app allows users to:</span>
    <ul>
      <li>Set up an account</li>
      <li>Create short text posts that appear on their profiles</li>
      <li>Follow other users to receive a feed of their posts</li>
    </ul>
  </div>

  <div class = "center"><%= link_to "Sign Up for an Account Now!", signup_path, class: "btn btn-lg btn-primary" %></div>
<% end %>


</div>

