<% provide(:title, 'All users') %>
<h1><%= link_to "All Users", users_path %></h1>

<%= form_tag(search_users_path, method: "get", class: "u_search", remote: true) do %>
  <%= text_field_tag(:q, nil, placeholder: "Search for Users") %>
  <%= submit_tag("Search", class:"btn btn-primary") %>
<% end %>

<div class = "users_paginate"><%= will_paginate %></div>

<ul class="users">
  <%= render @users %>
</ul>

<div class = "users_paginate"><%= will_paginate %></div>
